@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;500;700&display=swap');

@import "tailwindcss";

@theme {
  --font-dm: "DM Sans", sans-serif;

  --animate-landing-pulse: landing-pulse 2s infinite;

  @keyframes landing-pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }

  --breakpoint-xs: 480px;

  @keyframes floating {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-20px);
    }
  }

  @keyframes floating-delayed {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes floating-reverse {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(15px);
    }
  }
}

:root {
  font-family: 'DM Sans', sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #010914;
}